# Python cache and environments
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
venv/
env/
.env

# IDEs
.vscode/
.idea/

# ReconX Specific Runtime Data & Archives
archive/
archieve/
logs/*.log
workspace/*.db
registry/*.db
*.deb
